*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(46, 40, 40);
    text-align: center;
}
h1{
    color: bisque;
}
.download-btn{
    background-color: red;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}
.download-btn:hover{
    background-color: rgb(204, 37, 37);
}
.note{
    color: white;
}