body{
    background-color: rgb(46, 40, 40);
    text-align: center;
}
h1{
    text-align: center;
    color: bisque;
}
.btn{
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 30px;
}
.btn:hover{
    background-color: rgb(206, 29, 29);
}
